# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# If we want to share pre-trained models, comment these out
# *.pkl
